<section class="who-am-i" [id]="sectionsEnum.WHO_AM_I">
  <div class="container">
    <h3>Quem Sou</h3>
    <div class="who-am-i__container">
      <div class="who-am-i__container__info">
        <p>
          Olá, meu nome é Elisabete Cristina.
          <br>  
          Sou <strong>especialista em técnicas terapêuticas</strong> voltadas ao <strong>alívio de dores</strong> físicas e emocionais, promovendo relaxamento, bem-estar e mais qualidade de vida.
          <br>  
          Atuo também com <strong>Drenagem Linfática</strong>, auxiliando no cuidado com o corpo, autoestima e leveza no dia a dia.
          <br>
          Meu propósito é ajudar você a viver com mais conforto, equilíbrio e saúde, através do poder do toque e de um atendimento acolhedor e personalizado.
        </p>
        <br>
        <br>
        <p>Me acompanhe nas redes sociais!</p>
        <div class="who-am-i__container__info__instagram">
          <massoterapeuta-elisabete-button-link
            image="../../../assets/images/instagram.svg"
            url="https://www.instagram.com/massoterapeuta.elisabete"
            type="instagram"
            label="Instagram">
          </massoterapeuta-elisabete-button-link>
        </div>
      </div>
      <div class="who-am-i__container__image">
        <img src="../../../../../assets/images/elisabete-cristina.jpeg" alt="Elisabete Cristina">
      </div>
    </div>
  </div>
</section>

